#root {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba(71, 147, 227, 1);
}
h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  text-align: center;
}
td,
th {
  text-align: center;
  padding: 8px;
  color: black;
}

.table td {
  border-right: 1px solid #f8f8f8;
  font-size: 15px;
}

.table-wrapper .table .title tr th {
  color: #ffffff;
  background: #0c243d;
}

tr:nth-child(even) {
  background: #f8f8f8;
}
